body {
	min-width: 890px;
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;

	color: #000;
	background: #fff;
}

.container {
	width: 880px;
	margin: 0 auto;
	padding: 0 5px;
}

/******************/
/***   Button   ***/
/******************/

.btn {
	display: inline-block;
	vertical-align: top;
	padding: 10px 40px;

	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;

	color: #fff;
	background: #fb565a;
	border: none;
	outline: none;
	cursor: pointer;

	border-radius: 2px;
}

.btn:hover {
	background: #d6494d;
}

.btn:active {
	background: #b63538;
	-webkit-box-shadow: inset 0 3px 0 0 #9b2d30;
	-moz-box-shadow: inset 0 3px 0 0 #9b2d30;
	box-shadow: inset 0 3px 0 0 #9b2d30;
}

/********************/
/***   Button 2   ***/
/********************/

.activity-2 .btn {
	background: #00ca74;
}

.activity-2 .btn:hover {
	background: #01a25e;
}

.activity-2 .btn:active {
	background: #009053;
	-webkit-box-shadow: inset 0 3px 0 0 #007b47;
	-moz-box-shadow: inset 0 3px 0 0 #007b47;
	box-shadow: inset 0 3px 0 0 #007b47;
}

/********************/
/***   Button 3   ***/
/********************/

.activity-3 .btn {
	background: #efc84a;
}

.activity-3 .btn:hover {
	background: #d6ae2c;
}

.activity-3 .btn:active {
	background: #c09b24;
	-webkit-box-shadow: inset 0 3px 0 0 #a3841f;
	-moz-box-shadow: inset 0 3px 0 0 #a3841f;
	box-shadow: inset 0 3px 0 0 #a3841f;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/******************/
/***   HEADER   ***/
/******************/

.main-header {
	margin: 0;
	padding: 0;
	padding-top: 27px;
	padding-bottom: 43px;

	color: #000;
	background: #eee;
}

.main-header a {
	font-size: 14px;
	line-height: 30px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;

	color: #000;
}

.logo {
	float: left;
	margin: 0;
	padding: 0;
	margin-right: 20px;
	width: 139;
	height: 56;
}

.logo img {
	width: 139;
	height: 56;
}

/***************************/
/***   Main Navigation   ***/
/***************************/

.main-navigation {
	float: left;
	width: 580px;
	margin: 0;
	padding: 0;
	margin-top: 26px;
	text-align: right;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.main-navigation li {
	display: inline-block;
	vertical-align: top;
}

.main-navigation a {
	display: block;
	padding: 0 20px;

	font-size: 14px;
	line-height: 30px;
	font-weight: 500;
	text-decoration: none;
	text-transform: uppercase;

	color: #000;
}

.main-navigation a:hover {
	color: #fb565a;
}

.main-navigation a:active {
	color: #d7d7d7;
}

.main-navigation .active a {
	position: relative;
}

.main-navigation .active a:hover {
	background: none;
}

.main-navigation .active a:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 20px;
	right: 20px;
	height: 2px;
	background: #fb565a;
}

.user-block {
	float: right;
	min-height: 30px;
	margin: 0;
	padding: 0;
	margin-top: 26px;
	text-align: right;
}

.login {
	position: relative;
	margin: 0;
	padding: 0;
	padding-left: 26px;
	color: #000;
}

.login:hover {
	color: #fb565a;
}

.login:active {
	color: #ababab;
}

.login:before {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	width: 15px;
	height: 15px;
	background: url("../img/cart-gray.png") no-repeat;
	opacity: .3;
}

.login:hover:before {
	background: url("../img/cart-red.png") no-repeat;
	opacity: 1;
}

.login:active:before {
	background: url("../img/cart-gray.png") no-repeat;
	opacity: .15;
}

/******************/
/***   Slider   ***/
/******************/

.slider-row {
	margin: 0;
	padding: 0;
	height: 310px;
	color: #000;
	background: #eee;
}

.slider{
	position: relative;
	margin: 0;
	padding: 0;
	width: 880px;
	height: 310px;
}

.slider input[type=radio] {
	position: absolute;
	opacity: 0;
}

.slider-controls{
	position: absolute;
	bottom: 90px;
	left: 50%;
	width: 200px;
	height: 10px;
	margin-left: -100px;
	text-align: center;
	z-index: 10;
}

.slider-controls label{
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 3px;
	background: white;
	border: 3px solid white;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
}

.btn-1:checked ~ .slider-controls label[for="btn-1"],
.btn-2:checked ~ .slider-controls label[for="btn-2"],
.btn-3:checked ~ .slider-controls label[for="btn-3"] { 
	background: #c1c1c1;
}

.slide{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slide-text{
	width: 500px;
}

.slide-text h1 {
	font-size: 36px;
	line-height: 36px;
	margin-top: 35px;
	margin-bottom: 15px;
}

.slide-text a {
	margin-top: 14px;
	padding: 10px 70px;
}

.slide:nth-child(1){
	background-image: url("../img/slide-1.png");
	background-repeat: no-repeat;
	background-position: 100% 10px;
}

.slide:nth-child(2){
	background-image: url("../img/slide-2.png");
	background-repeat: no-repeat;
	background-position: 100% 10px;
}

.slide:nth-child(3){
	background-image: url("../img/slide-3.png");
	background-repeat: no-repeat;
	background-position: 100% 0;
}

.slide{
	display: none;
}

.btn-1:checked ~ .slides .slide:nth-child(1) {
	display: block;
}

.btn-2:checked ~ .slides .slide:nth-child(2) {
	display: block;
}

.btn-3:checked ~ .slides .slide:nth-child(3) {
	display: block;
}

/********************/
/***   Big Head   ***/
/********************/

.big-head {
	margin: 0;
	padding: 0;
	padding-top: 10px;

	height: 170px;
	text-align: center;
	color: #000;
	background: #eee;
}

.big-head h1 {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	text-transform: uppercase;
}

/*********************/
/***   Delimiter   ***/
/*********************/


.delimiter {
	margin: 8px 0;
	height: 2px;
	background: #eee;
}

/**********************/
/***   Activities   ***/
/**********************/

.activities {
	margin-top: 80px;
	margin-bottom: 70px;
}

.activities h2 {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
}

.activities p {
	font-size: 15px;
	line-height: 22px;
}

.activities-item {
	float: left;
	width: 240px;
	margin-right: 80px;
}

.activities-item:last-child {
	float: right;
	width: 240px;
	margin-right: 0;
}

.activities .btn {
	margin-top: 15px;
}

/**********************/
/***   Block Info   ***/
/**********************/

.block-info {
	margin: 50px 0;
}

.block-info-1 {
	margin-bottom: 10px;
}

.block-info-2 {
	margin-top: 10px;
}

.block-info h1 {
	font-size: 36px;
	line-height: 36px;
	margin-top: 5px;
}

.block-info h2 {
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	text-transform: uppercase;
}

.block-info-item-wide {
	float: left;
	width: 620px;
	margin-right: 20px;
}

.block-info-item {
	float: right;
	width: 240px;
	margin-right: 0;
}

/***********************/
/***   Custom List   ***/
/***********************/

.custom-list {
	margin: 14px 0;
	padding: 0;
	list-style: none;
}

.custom-list li {
	position: relative;
	margin-top: 20px;
	padding-left: 37px;
}

.custom-list li:before {
	content: "";

	position: absolute;
	top: 10px;
	left: 0;

	width: 25px;
	height: 2px;

	background: #fb565a;
}

/********************/
/***   Partners   ***/
/********************/

.partners {
	margin: 0;
	padding: 0;
	margin-top: 40px;
	margin-bottom: 30px;
	height: 87px;
}

.partners-item {
	float: left;
	width: 198px;
	margin: 25px 20px;
}

.partners-item:nth-child(2) {
	width: 199px;
	margin: 18px 100px;
}

.partners-item:nth-child(3) {
	float: right;
	width: 209px;
	margin: 0;
	margin-right: 10px;
}

.partner-btn {
	display: block;
	opacity: .2;
}

.partner-btn:hover {
	opacity: 1;
}

.partner-btn-1 {
	width: 198px;
	height: 37px;
}

.partner-btn-2 {
	width: 199px;
	height: 50px;
}

.partner-btn-3 {
	width: 209px;
	height: 87px;
}

.partner-btn-1 img {
	width: 198px;
	height: 37px;
}

.partner-btn-2 img {
	width: 199px;
	height: 50px;
}

.partner-btn-3 img {
	width: 209px;
	height: 87px;
}

/***********************/
/***   Filter Form   ***/
/***********************/

.filter-form {
	float: left;
	margin: 0;
	padding: 0;
	width: 240px;
	margin-right: 80px;
	padding-top: 80px;
}

.filter-form h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

/************************/
/***   Range Filter   ***/
/************************/

.range-filter{
	margin: 0;
	padding: 0;
	margin-bottom: 50px;
	width: 240px;
}
.range-controls{
	position:relative;
	height:80px;
	margin-bottom:15px;
	padding:0 30px;
	background:#f1f1f1;
	border-radius:5px;
	overflow:hidden;
}
.range-controls .scale{
	margin-top:39px;
	height:2px;
	background:#d7dcde;
}
.range-controls .bar{
	height:2px;
	background:#00ca74;
}
.range-controls .toggle{
	position:absolute;
	top:30px;
	left:30px;
	width:4px;
	height:4px;
	border:8px solid white;
	background:#ababab;
	cursor:pointer;
	border-radius:50%;
	box-shadow:0 2px 1px 0 #cfcfcf;
}
.range-controls .max-toggle{
	left:145px;
}
.price-controls {
	font-family:'Roboto', sans-serif;
	font-size:16px;
	line-height:22px;
	font-weight:normal;
	font-style:normal;
	text-transform: uppercase;
	color: #000;
}
.price-controls input{
	width:60px;
	padding:8px 10px;
	margin-left:5px;

	font-family:'Roboto', sans-serif;
	font-size:16px;
	line-height:22px;
	font-weight:normal;
	font-style:normal;
	text-transform: uppercase;
	text-align:center;

	color: #000;
	background:#f1f1f1;
	border:none;
	border-radius:5px;
}
.price-controls .min-price{
	margin-right:14px;
}
.price-controls{
	white-space:nowrap;
}

/*************************/
/***   Filter Blocks   ***/
/*************************/

.filter-form form {
	margin: 0;
	padding: 0;
}

.filter-block {
	margin: 0;
	padding: 0;
	padding-bottom: 30px;
}

.filter-block input {
	display: none;
}

.filter-block label {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	margin-bottom: 15px;
	padding-left: 35px;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 25px;
	text-transform: none;

	color: #333;
	cursor: pointer;
	vertical-align: top;
}

.filter-block label:hover {
	color: #000;
}

/*** Radio Button ***/

.filter-block input[type="radio"] + label:before {
	content: "";
	position: absolute;

	top: 0;
	left: 0;

	width: 25px;
	height: 25px;

	background: url("../img/circle.png") no-repeat;
	opacity: .8;
}

.filter-block input[type="radio"]:hover + label:before {
	background: url("../img/circle.png") no-repeat;
	opacity: 1;
}

.filter-block input[type="radio"]:checked + label:before {
	background: url("../img/circle-dot.png") no-repeat;
	opacity: .8;
}

.filter-block input[type="radio"]:checked:hover + label:before {
	background: url("../img/circle-dot.png") no-repeat;
	opacity: 1;
}

/*** Checkbox ***/

.filter-block input[type="checkbox"] + label:before {
	content: "";
	position: absolute;

	top: 0;
	left: 0;

	width: 25px;
	height: 25px;

	background: url("../img/check-off.png") no-repeat;
	opacity: .8;
}

.filter-block input[type="checkbox"]:hover + label:before {
	background: url("../img/check-off.png") no-repeat;
	opacity: 1;
}

.filter-block input[type="checkbox"]:checked + label:before {
	background: url("../img/check-on.png") no-repeat;
	opacity: .8;
}

.filter-block input[type="checkbox"]:checked:hover + label:before {
	background: url("../img/check-on.png") no-repeat;
	opacity: 1;
}

/*** Button ***/

.filter-btn {
	display: block;
	margin: 0;
	padding: 10px 0;

	width: 140px;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
	text-decoration: none;

	color: #000;
	background: #f1f1f1;
	border: none;
	border-radius: 3px;
}

.filter-btn:hover {
	background: #e5e5e5;
}

.filter-btn:active {
	background: #d5d5d5;
	-webkit-box-shadow: inset 0 3px 0 0 #b5b5b5;
	-moz-box-shadow: inset 0 3px 0 0 #b5b5b5;
	box-shadow: inset 0 3px 0 0 #b5b5b5;
}

/********************/
/***   Products   ***/
/********************/

.products {
	float: right;
	width: 560px;
	margin-right: 0;
	padding-top: 80px;
}

/****************/
/***   Sort   ***/
/****************/

.products-sort {
	margin: 0;
	padding: 0;
}

.products-sort-head {
	float: left;
	margin: 0;
	padding: 0;
	margin-right: 20px;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;

	color: #000;
}

.products-sort-attribute {
	float: left;
	margin: 0;
	padding: 0;
	width: 410px;
}

.products-sort-attribute ul {
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}

.products-sort-attribute li {
	display: inline-block;
	vertical-align: top;
}

.products-sort-attribute a {
	display: block;
	margin: 0 20px;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 12px;
	line-height: 18px;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;

	color: #c1c1c1;
	border-bottom: 1px dotted #00ca74;
}

.products-sort-attribute a:hover {
	color: #000;
	border-bottom: 1px solid #00ca74;
}

.products-sort-attribute a:active {
	color: #000;
	border-bottom: 1px solid #fff;
}

.products-sort-direction {
	float: right;
	margin: 0;
	margin-top: 5px;
	padding: 0;
	width: 40px;
	height: 10px;
	font-size: 0;
	text-align: right;
}

.products-sort-direction a {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-left: 7px;
	padding: 0;
	width: 10px;
	height: 10px;
}

.products-sort-direction a.sort-down {
	background: url("../img/down-black.png") no-repeat center;
	opacity: .3;
}
.products-sort-direction a.sort-up {
	background: url("../img/up-black.png") no-repeat center;
	opacity: .3;
}
.products-sort-direction a.sort-down.active {
	background: url("../img/down-green.png") no-repeat center;
	opacity: 1;
}
.products-sort-direction a.sort-up.active {
	background: url("../img/up-green.png") no-repeat center;
	opacity: 1;
}

.products-sort-direction a.sort-down:hover,
.products-sort-direction a.sort-down.active:hover {
	background: url("../img/down-black.png") no-repeat center;
	opacity: .3;
}
.products-sort-direction a.sort-up:hover,
.products-sort-direction a.sort-up.active:hover {
	background: url("../img/up-black.png") no-repeat center;
	opacity: .3;
}

.products-sort-direction a.sort-down:active,
.products-sort-direction a.sort-down.active:active {
	background: url("../img/down-black.png") no-repeat center;
	opacity: 1;
}
.products-sort-direction a.sort-up:active,
.products-sort-direction a.sort-up.active:active {
	background: url("../img/up-black.png") no-repeat center;
	opacity: 1;
}

/*****************/
/***   Tiles   ***/
/*****************/

.products-tiles {
	margin: 0;
	padding: 0;
	margin-top: 15px;
	font-size: 0;
}

.products-item {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 240px;
	height: 270px;
	margin-right: 80px;
	margin-bottom: 80px;
	font-size: 0;
	background: #f1f1f1;
	border-radius: 5px 5px 0 0;
}

.products-item:hover {
	background: #797979;
}

.products-item:nth-child(2n) {
	margin-right: 0;
}

.products-item label {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-top: 10px;
	margin-left: 6px;
	padding: 0;

	width: 10px;
	height: 10px;

	background: #fff;
	border-radius: 50%;
}

.products-item label:nth-child(1) {
	margin-left: 12px;
}

.products-item img {
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;

	width: 240px;
	height: 240px;

	bottom: 0;
}

.products-item-description {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 200px;
	height: 200px;
	left: 20px;
	bottom: 20px;
	text-align: center;
	color: #000;
	background: #fff;
}

.products-item .products-item-description {
	display: none;
}

.products-item:hover .products-item-description {
	display: block;
}

.products-item-description h2 {
	margin: 0;
	padding: 0;
	margin-top: 35px;
	margin-bottom: 20px;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	text-transform: uppercase;
}

.products-item-description p {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	text-transform: none;
}

.products-item-description a {
	display: block;
	margin: 0 auto;
	padding: 10px 0;

	width: 140px;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;

	color: #fff;
	background: #fb565a;
	border-radius: 3px;
}

.products-item-description a:hover {
	background: #d6494d;
}

.products-item-description a:active {
	background: #b63538;
	-webkit-box-shadow: inset 0 3px 0 0 #9b2d30;
	-moz-box-shadow: inset 0 3px 0 0 #9b2d30;
	box-shadow: inset 0 3px 0 0 #9b2d30;
}

/**********************/
/***   Pagination   ***/
/**********************/

.products-pagination {
	margin: 0;
	padding: 0;
	font-size: 0;
}

.products-pagination ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.products-pagination li {
	display: inline-block;
	margin: 0;
	margin-right: 10px;

	width: 38px;
	
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	vertical-align:top;
	text-transform: uppercase;

	background: #fff;
	border: none;
}

.products-pagination li.active {
	padding: 8px 0;
	width: 34px;
	border: 2px solid #f1f1f1;
	border-radius: 3px;
}

.products-pagination li.next {
	width: 140px;
}

.products-pagination a {
	display: block;
	padding: 10px 0;
	text-decoration: none;
	color: #000;
	background: #f1f1f1;
	border: none;
	border-radius: 3px;
}

.products-pagination a:hover {
	background: #e5e5e5;
}

.products-pagination a:active {
	background: #d5d5d5;
	-webkit-box-shadow: inset 0 3px 0 0 #b5b5b5;
	-moz-box-shadow: inset 0 3px 0 0 #b5b5b5;
	box-shadow: inset 0 3px 0 0 #b5b5b5;
}

/***************/
/***   MAP   ***/
/***************/

.map {
	position: relative;
	margin-top: 80px;
	width: 100%;
	height: 416px;
	background: #fff url("../img/map.jpg") no-repeat center;
}

.map img {
	position: absolute;
	z-index: 20;
	top: 50%;
	left: 50%;
	width: 231px;
	height: 190px;
	margin-left: 240px;
	margin-top: -95px;
}

.yandex-map {
	position: absolute;
	z-index: 30;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 416px;
}

.feedback {
	position: absolute;
	z-index: 40;
	padding: 20px;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-left: -440px;
	margin-top: -120px;
	background: #fff;
}

.feedback h2 {
	margin: 0;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 30px;
	font-weight: normal;
	text-transform: uppercase;
}

.feedback p {
	margin: 0;
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 20px;
	font-weight: normal;
	text-transform: none;
}

.feedback .btn {
	margin-top: 15px;
	padding: 10px 50px;
}

/******************/
/***   FOOTER   ***/
/******************/

.main-footer {
	height: 215px;
}

.footer-social {
	float: left;
	width: 300px;
	height: 70px;
	margin: 0;
	margin-top: 75px;
	margin-bottom: 70px;
	margin-right: 20px;
	font-size: 0;
}

.social-btn {
	display: inline-block;
	margin: 0;
	margin-right: 25px;
	vertical-align: top;
	width: 65px;
	height: 65px;

	font-size: 0;
	text-decoration: none;

	border-radius: 50%;
	cursor: pointer;

	background: #e1e1e1 url("../img/sprite.png") no-repeat center;
}

.social-btn:hover {
	background-color: #fb565a;
}

.social-btn:active {
	background-color: #b63538;
	-webkit-box-shadow: inset 0 3px 0 0 #9b2d30;
	-moz-box-shadow: inset 0 3px 0 0 #9b2d30;
	box-shadow: inset 0 3px 0 0 #9b2d30;
}

.social-btn-vk {
	background-position: 19px -956px;
}

.social-btn-fb {
	background-position: 25px -680px;
}

.social-btn-inst {
	background-position: 22px -823px;
}

.footer-slogan {
	float: right;
	width: 540px;
	height: 70px;
	margin: 0;
	margin-top: 75px;
	margin-bottom: 70px;
}

.footer-slogan h1 {
	margin: 0;
	padding: 0;

	font-size: 36px;
	line-height: 36px;
	font-weight: normal;
}

.footer-slogan p {
	margin: 0;
	margin-top: 10px;
	padding: 0;

	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}

/**************************/
/***   Modal Feedback   ***/
/**************************/

.modal-content {
	display: none;
	position: fixed;
	z-index: 50;

	top: 50%;
	left: 50%;

	width: 630px;
	height: 416px;

	margin-top: -208px;
	margin-left: -315px;

	padding: 0;

	color: #000;
	background: #fff;
	-webkit-box-shadow: 0 30px 50px rgba(0,0,0,.7);
	-moz-box-shadow: 0 30px 50px rgba(0,0,0,.7);
	box-shadow: 0 30px 50px rgba(0,0,0,.7);
}

@-webkit-keyframes bounce {
	0% {
		transform: translateY(-2000px);
	}
	70% {
		transform: translateY(30px);
	}
	90% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

@-moz-keyframes bounce {
	0% {
		transform: translateY(-2000px);
	}
	70% {
		transform: translateY(30px);
	}
	90% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes bounce {
	0% {
		transform: translateY(-2000px);
	}
	70% {
		transform: translateY(30px);
	}
	90% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

.modal-content-show {
	display: block;
	-webkit-animation: bounce 1s;
	-moz-animation: bounce 1s;
	animation: bounce 1s;
}

.modal-content-close {
	position: absolute;
	top: 6px;
	right: 6px;

	width: 41px;
	height: 41px;

	font-size: 0;
	cursor: pointer;
	background: url("../img/close.png") no-repeat center;
}

.feedback-form {
	margin: 0;
	padding: 0;

	margin-top: 55px;
	margin-left: 80px;

	font-size: 0;
}

.feedback-form label {
	display: inline-block;
	vertical-align: top;

	margin: 0;
	padding: 0;
	margin-right: 20px;
	margin-bottom: 12px;

	width: 220px;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 18px;
}

.feedback-form input,
.feedback-form textarea,
.feedback-form button {
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;

	color: #000;
	border: 2px solid #d7dcde;
	border-radius: 3px;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
	border: 2px solid #a2a9ac;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
	border: 2px solid #56bffb;
}

.feedback-form input {
	display: inline-block;
	vertical-align: top;

	margin-right: 20px;
	margin-bottom: 22px;
	padding-left: 13px;

	width: 203px;
	height: 34px;
}

.feedback-form textarea {
	margin-bottom: 37px;
	padding: 8px 13px;

	width: 430px;
	height: 94px;

	resize: none;
}

.feedback-form button {
	display: inline-block;
	vertical-align: top;

	margin-right: 20px;

	width: 220px;
	height: 38px;

	border: none;
}

.feedback-form button[type="submit"] {
	color: #fff;
	background: #fb565a;
}

.feedback-form button[type="submit"]:hover {
	background: #d6494d;
}

.feedback-form button[type="submit"]:active {
	background: #b63538;
	-webkit-box-shadow: inset 0 3px 0 0 #9b2d30;
	-moz-box-shadow: inset 0 3px 0 0 #9b2d30;
	box-shadow: inset 0 3px 0 0 #9b2d30;
}

.feedback-form button[type="reset"] {
	background: #f1f1f1;
}

.feedback-form button[type="reset"]:hover {
	background: #e5e5e5;
}

.feedback-form button[type="reset"]:active {
	background: #d5d5d5;
	-webkit-box-shadow: inset 0 3px 0 0 #b5b5b5;
	-moz-box-shadow: inset 0 3px 0 0 #b5b5b5;
	box-shadow: inset 0 3px 0 0 #b5b5b5;
}

